*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}   

/* div[class*="col-"]{
    padding: 0;

} */

body{
    background-image: url(/img/background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenido{
    background: linear-gradient(rgba(155,158,163,0.5), rgba(155,158,163,0.5));
    
    width: 100%;
    height: 100%;

}


.title h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ededf2;
    text-shadow: 4px 4px 3px #172c3c;
    font-size: 4rem;
    margin-bottom: 4rem;
}



.f-row{
    background-color: #063940;
    font-size: small;
    
}

.s-row{
    padding: 4rem;
    margin: 0;
}

.heading{
    font-family: 'Rampart One', cursive;
    text-align: center;
    height: 100%;
    width: 100%;

}

.heading p{
    padding: 1.5rem 0.5rem 0 0.5rem ;
    font-size: 3rem;
    color: #ededf2;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 7rem;
    padding: 0.7rem 0.5rem 0 0.5rem ;
    margin: 1rem 0;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    
}

nav .page-link{
    font-weight: 700;
    align-content: center;
    padding: 3rem 1.5rem 1rem 1.5rem;
    font-size: 2rem;
    color: #ededf2 ; 
    height: 100%;
}

nav .page-link:hover{
    background-color: #a2d3c7;
    color: #6f737e;
    font-weight: 800;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    font-size: 2rem;
}

.div-info{
    background-color: #8ebdb6;
    border-radius: 5%;
    padding: 5rem;
}

.info-section{
    margin-top: 1rem;
    padding: 1.5rem;
    
}

.info-section h2{
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #063940;
}

.info-section p, ul li{
    font-size: 2rem;
    /* color: #f6f6f6;
    text-shadow: 4px 4px 3px #172c3c; */
}

#quotes .quote{
    font-style: italic;
}

#quotes .fuente{
    text-align: right;
}

.imagenes{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
    margin-left: 1.5rem;

}

.imagenes img{
    border: 2px dotted #063940;
    width: 22rem;
    margin: 1rem auto;
    box-shadow: -5px 5px 7px #063940;

}

.row-footer{
    background-color: #3e838c;
}

.footer{
   max-height: 5rem;
}

.footer i{
    font-size: 4rem;
    color: whitesmoke;
    
}

.img-footer{
    height: 14rem;
    float: right;
    position: relative;

}

.footer p, .footer a{
    position: absolute;
    display: block;
    text-align: center;
    font-size: 2.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: whitesmoke;

}

.footer a{
    position: relative;
    top: 2rem;
}
.footer p{
    position: relative;
    top: 2rem;
}




@media only screen and (max-width: 575px) {
    
    .imagenes img{
        width: 11rem;
    }
    
    body{
        background-image: url(/img/background-2.jpg);
        background-size: contain;
        background-repeat: repeat;
    }

    .div-info{

        padding: 0.5rem;
    }

    .footer p, .footer a{
        /* position: absolute; */
        display: block;
        text-align: center;
        font-size: 1.5rem;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
    
    }

    .logo img{
        display: block;
        margin: 0.5rem auto;
    }

    html{
        font-size: 13px;
    }

    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .page-link{
        text-align: center;
        width: 100%;
    }
        
    


}

@media only screen and (min-width:576px) {

    .imagenes img{
        width: 16rem;
    }

     body{
        background-image: url(/img/background-2.jpg);
        background-size: contain;
        background-repeat: repeat;
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: right;
        flex-direction: row;
        align-items: center;
    }

    html{
        font-size: 8px;
    }

}

@media screen and (min-width:769px) {
    html{
        font-size: 10px;
    }

    .imagenes img{
        width: 19rem;
    }
}